$blue: #323D57;
$pink: #E83189;

$layer_grid_z_index: 100;
$layer_surface_z_index: 200;
$layer_chair_z_index: 300;
$layer_table_z_index: 400;
$layer_trash_z_index: 500;
$layer_palette_z_index: 600;
$layer_cursor_z_index: 700;

:local(.layout) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:local(.wrapper),
:local(.table),
:local(.tableEdge) {
  position: absolute;
}

:local(.trash) {
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  bottom: -51px;
  transition: bottom 133ms;
  background: $pink;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: white;
  z-index: $layer_trash_z_index;

  &.visible {
    bottom: 0;
  }
}


:local(.wrapper) {
  transition: transform 133ms, opacity 133ms;

  &:local(.circle) {
    :local(.table), :local(.tableEdge) {
      border-radius: 100%;
    }
  }

  &.add {
    z-index: 10;
  }

  &.drop-to-delete {
    transform: scale(0.5, 0.5);
    z-index: $layer_cursor_z_index;;
    opacity: 0.6;
  }

  &.dragstart {
    opacity: 0.4;
    z-index: $layer_surface_z_index;

    :local(.tableEdge),
    :local(.chair),
    :local(.chairback) {
      border: 1px dashed $pink;
    }
  }
}

:local(.count) {
  position: absolute;
  color: $pink;
  font-size: 14px;
  opacity: 0;

  .resize & {
    opacity: 1;
  }
}

:local(.table) {
  border: none;
  background: white;
  left: 0;
  top: 0;
  z-index: $layer_table_z_index + 1;
  cursor: -webkit-grab;

  .drag &,
  .add &,
  &:hover {
    border: 1px dashed $pink;
    cursor: -webkit-grabbing;
    z-index: $layer_table_z_index + 2;
  }
}

:local(.tableEdge) {
  border: 1px solid $blue;
  background: transparent;
  left: -1px;
  top: -1px;
  z-index: $layer_table_z_index;
  cursor: -webkit-grab;

  .drag &,
  .add & {
    border-color: $pink;
  }
}

:local(.chair) {
  position: absolute;
  border: 1px solid $blue;
  z-index: $layer_chair_z_index + 1;
  background: white;
  transition: border-radius 77ms;
  cursor: pointer;

  &::after {
    content: 'x';
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  :local(.chairback) {
    position: absolute;
    height: 15%;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $blue;
  }

  .drag &,
  .add & {
    &, :local(.chairback) {
      border-color: $pink;
    }
  }

  &.collided {
    display: none;
  }
}

:local(.resize) {
  position: absolute;
  cursor: nwse-resize;
  z-index: $layer_cursor_z_index;
}

:local(.grid) {
  position: absolute;
  z-index: $layer_grid_z_index;
  overflow: hidden;

  :local(.overlay) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 20px 20px 70px white,
                inset -20px 20px 70px white,
                inset -20px -20px 70px white,
                inset 20px -20px 70px white;
    z-index: $layer_grid_z_index + 2;
  }
}

:local(.line) {
  position: absolute;
  background: $blue;
  opacity: 0.1;
  z-index: $layer_grid_z_index + 1;
}

:local(.next) {
  position: absolute;
  background: $pink;
  width: 100px;
  height: 100px;
  opacity: 0.15;
}



:local(.palette) {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  z-index: $layer_palette_z_index;

  :local(.plus),
  :local(.drawer) {
    position: absolute;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  }

  &:hover {
    right: 0px;

    :local(.drawer) {
      right: 20px;
    }

    :local(.plus) {
      transform: rotate(135deg);
      right: 40px;
    }
  }

  :local(.plus) {
    right: 20px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 80px;
    line-height: 66px;
    background: $pink;
    border-radius: 100%;
    z-index: $layer_palette_z_index + 2;
    cursor: pointer;
    transition: transform 177ms;
    user-select: none;
  }

  :local(.drawer) {
    transition: right 177ms;
    position: absolute;
    background: white;
    width: 430px;
    height: 100px;
    right: -455px;
    z-index: $layer_palette_z_index + 1;

    & > * {
      opacity: 0.8;
    }
  }
}



