$blue: #323D57;
$pink: #E83189;

:local(.layout) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:local(.wrapper),
:local(.table) {
  position: absolute;
}

:local(.trash) {
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  bottom: -51px;
  transition: bottom 133ms;
  background: $pink;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: white;
  z-index: 2;

  &.visible {
    bottom: 0;
  }
}


:local(.wrapper) {
  transition: transform 133ms, opacity 133ms;

  &.drop-to-delete {
    transform: scale(0.5, 0.5);
    z-index: 4;
    opacity: 0.6;
  }

  &.dragstart {
    opacity: 0.4;
    z-index: 1;

    :local(.table),
    :local(.chair),
    :local(.chairback) {
      border: 1px dashed $pink;
    }
  }
}

:local(.table) {
  border: 1px solid $blue;
  background: white;
  left: 0;
  top: 0;
  z-index: 3;
  cursor: -webkit-grab;

  .drag & {
    border-color: $pink;
    cursor: -webkit-grabbing;
  }
}

:local(.chair) {
  position: absolute;
  border: 1px solid $blue;
  z-index: 2;
  background: white;
  transition: border-radius 77ms;
  cursor: pointer;

  &::after {
    content: 'x';
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &:hover {
    background: $pink;
    border-radius: 100%;
    border-color: transparent;

    :local(.chairback) {
      display: none;
    }
  }

  :local(.chairback) {
    position: absolute;
    height: 15%;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $blue;
  }

  .drag & {
    &, :local(.chairback) {
      border-color: $pink;
    }
  }
}

:local(.resize) {
  position: absolute;
  cursor: nwse-resize;
  z-index: 4;
}

:local(.grid) {
  position: absolute;
  z-index: 1;
  overflow: hidden;

  :local(.overlay) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 20px 20px 70px white,
                inset -20px 20px 70px white,
                inset -20px -20px 70px white,
                inset 20px -20px 70px white;
    z-index: 2;
  }
}

:local(.line) {
  position: absolute;
  background: $blue;
  opacity: 0.2;
  z-index: 1;
}

:local(.next) {
  position: absolute;
  background: $pink;
  width: 100px;
  height: 100px;
  opacity: 0.2;
}
